In [90]:
import sys
import os
import numpy as np
import random

# Go up one level from the current notebook directory
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))

# Add project root to sys.path if not already there
if project_root not in sys.path:
    sys.path.append(project_root)

# Confirm it's now in your search path
print("Project root added to sys.path:", project_root)

Project root added to sys.path: c:\Users\mltsw\OneDrive\Desktop\Decathlon\Decathlon_Automation

In [91]:
import psycopg2
import pandas as pd
from connections import db_connections as dbc
from helpers import lunch_job_helpers as ljh

In [92]:
creds = dbc.load_db_read_creds()

conn,cur = dbc.connect_to_postgres(creds['db_name'],creds['user'],creds['password'],creds['host'],creds['port'])

Successfully connected to the database.

In [93]:
lunch_job_sql = ljh.get_lunch_jobs_sql()
df_lunch_job = pd.read_sql(lunch_job_sql,conn)
df_lunch_job

C:\Users\mltsw\AppData\Local\Temp\ipykernel_22284\4226156554.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_lunch_job = pd.read_sql(lunch_job_sql,conn)

,job_id,job_code,job_name,min_staff_assigned,normal_staff_assigned,max_staff_assigned,job_description,priority
0,1053,GA,Gaga Area,0,0,1,None,5.0
1,1057,GAGA 1,Gaga 1 Pit,1,1,1,None,NaN
2,1061,GAGA 2,GAGA 2 Pit,1,1,1,None,NaN
3,1065,BR,Ball Room,1,1,2,None,NaN
4,1069,RR,Restrooms,1,1,2,None,NaN
5,1073,SO,Soccer Field,1,1,2,None,3.0
6,1077,WA,Wall Ball,1,1,2,None,NaN
7,1081,SUB,Substitute,0,0,5,None,4.0
8,1001,A&C,Arts and Crafts,1,1,2,None,NaN
9,1005,CA,Counselor Activity,1,3,4,None,NaN
10,1009,CT,Card Trading,1,1,2,None,NaN
11,1017,GR1,Board Gameroom,1,1,2,None,NaN
12,1013,OB,Obsticle course,1,3,4,None,NaN
13,1029,FR/VB,Frisbee or VB activity,1,1,2,None,NaN
14,1037,PP,"Ping Pong, Foosball",1,1,2,None,NaN
15,1041,SC,Tallying Scores,4,5,7,None,NaN
16,1045,TD,Tie Dye,4,6,8,None,NaN
17,1049,WB,Whiffle Ball (Large),1,2,3,None,NaN
18,1033,PG,Playground,1,1,2,None,1.0
19,1025,HS,Hot Shot or knockout,1,1,2,None,2.0
20,1021,MULTI,MULTI,1,2,3,None,6.0

In [94]:
days = ["monday", "tuesday", "wednesday", "thursday"]
days_sql = ljh.get_days_sql(cur, days)
df_days = pd.read_sql(days_sql,conn)
#df_days.head()

C:\Users\mltsw\AppData\Local\Temp\ipykernel_22284\2415360593.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_days = pd.read_sql(days_sql,conn)

In [95]:
eligible_staff_sql = ljh.get_eligible_staff_sql(cur, session_id = 1012)
# potentially exclude noneligible staff here
df_eligible_staff = pd.read_sql(eligible_staff_sql,conn)
##sort the base dataframe, move sorting to SQL?
df_eligible_staff = df_eligible_staff.sort_values(by=['group_id', 'role_id'], ascending=[True, True])
df_eligible_staff

C:\Users\mltsw\AppData\Local\Temp\ipykernel_22284\3651161646.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_eligible_staff = pd.read_sql(eligible_staff_sql,conn)

                 staff_name  session_id  staff_id  role_id  group_id
30               Matt Segal        1012      1115     1005      1000
0             Abraham Paley        1012      1001     1006      1000
44              Wes Calhoun        1012      1171     1006      1000
6               Avi Sanchez        1012      1033     1005      1004
5             Asher Darling        1012      1029     1006      1004
14            Elise Darling        1012      1067     1006      1004
20              Guy Robbins        1012      1087     1005      1006
18           Ethelle Bouvin        1012      1075     1006      1006
21              Ilan Gerber        1012      1091     1006      1006
27              Liam Gerber        1012      1107     1005      1008
8             Carlos Acosta        1012      1043     1006      1008
24         Jenna Bergendahl        1012      1097     1006      1008
23         Jackson Dewberry        1012      1095     1005      1012
25         Jonah Altschuler        1012      1099     1006      1012
39            Sahil Qureshi        1012      1153     1006      1012
19  Eytan Goldhaber-Fiebert        1012      1079     1005      1016
13                Eli Sobel        1012      1065     1006      1016
11            Charlie Premo        1012      1053     1005      1020
3            Andrew Onodera        1012      1021     1006      1020
37              Ryan Spence        1012      1149     1005      1024
40           Spencer Toland        1012      1155     1006      1024
26           Khalil Qureshi        1012      1105     1005      1028
33               Ori Gillai        1012      1139     1005      1028
42                Tommy Sah        1012      1163     1005      1032
9              Carter Leban        1012      1045     1006      1032
22              Jack Bucich        1012      1093     1005      1036
43             Trey Calhoun        1012      1165     1005      1036
10      Cassie Hickinbotham        1012      1047     1005      1040
15             Ellie Katsav        1012      1069     1006      1040
29           Lizzy Moravick        1012      1113     1006      1040
17          Emily Jacquemin        1012      1073     1005      1044
7               Aylin Orens        1012      1035     1006      1044
32         Nishka Gollamudi        1012      1133     1006      1044
4            Anna Kolpakova        1012      1025     1005      1048
1             Aditi Rairkar        1012      1007     1006      1048
2                Amiya Garg        1012      1017     1006      1048
41          Tamara Rubinsky        1012      1157     1006      1048
34         Olivia Bocchieri        1012      1141     1005      1052
28           Lilley Stryker        1012      1111     1006      1052
31         Micaela Rubinsky        1012      1125     1006      1052
36            Parker McCabe        1012      1145     1005      1056
12             Einav Garten        1012      1063     1006      1056
35              Paige Leban        1012      1143     1005      1058
45       Yardenne Sternheim        1012      1173     1006      1058
16          Ellie Westagate        1012      1071     1005      1060
38             Sabrina Neal        1012      1151     1006      1060

In [96]:
# Step 1: Aggregate counts per group
eligible_staff_agg = (
    df_eligible_staff
    .groupby("group_id")
    .agg(
        sum_of_counselors = ("role_id", lambda x: (x == 1005).sum()),
        sum_of_junior_counselors = ("role_id", lambda x: (x == 1006).sum())
    )
    .reset_index()
    .sort_values("group_id")
)

# Step 2: Add the exception column
eligible_staff_agg["pattern_exception"] = (
    ((eligible_staff_agg["sum_of_counselors"] == 1) & 
     (eligible_staff_agg["sum_of_junior_counselors"] == 2))
    |
    ((eligible_staff_agg["sum_of_counselors"] == 1) & 
     (eligible_staff_agg["sum_of_junior_counselors"] == 1))
)

eligible_staff_agg.head()

   group_id  sum_of_counselors  sum_of_junior_counselors  pattern_exception
0      1000                  1                         2               True
1      1004                  1                         2               True
2      1006                  1                         2               True
3      1008                  1                         2               True
4      1012                  1                         2               True

In [97]:
df_eligible_staff_with_exceptions = df_eligible_staff.merge(
    eligible_staff_agg[["group_id", "pattern_exception"]], #exception lookup ,
    on="group_id",
    how="left"
)

#df_eligible_staff_with_exceptions

In [98]:
df_group_patterns = ljh.assign_group_patterns(df_eligible_staff)
#df_group_patterns.head()


df_eligible_staff_patterns_and_exceptions = df_eligible_staff_with_exceptions.merge(
    df_group_patterns[["group_id", "base_pattern"]], #pattern lookup ,
    on="group_id",
    how="left"
)

In [99]:
df_eligible_staff_patterns_and_exceptions["actual_assignment"] = (
    df_eligible_staff_patterns_and_exceptions.apply(
        lambda row: 
            # Counselors (1005)  keep base pattern
            row["base_pattern"] 
            if row["role_id"] == 1005 
            else 
            # Junior Counselors (1006)  flip the pattern
            ("A" if row["base_pattern"] == "B" else "B"),
        axis=1
    )
)

df_eligible_staff_patterns_and_exceptions

,staff_name,session_id,staff_id,role_id,group_id,pattern_exception,base_pattern,actual_assignment
0,Matt Segal,1012,1115,1005,1000,True,B,B
1,Abraham Paley,1012,1001,1006,1000,True,B,A
2,Wes Calhoun,1012,1171,1006,1000,True,B,A
3,Avi Sanchez,1012,1033,1005,1004,True,A,A
4,Asher Darling,1012,1029,1006,1004,True,A,B
5,Elise Darling,1012,1067,1006,1004,True,A,B
6,Guy Robbins,1012,1087,1005,1006,True,B,B
7,Ethelle Bouvin,1012,1075,1006,1006,True,B,A
8,Ilan Gerber,1012,1091,1006,1006,True,B,A
9,Liam Gerber,1012,1107,1005,1008,True,A,A
10,Carlos Acosta,1012,1043,1006,1008,True,A,B
11,Jenna Bergendahl,1012,1097,1006,1008,True,A,B
12,Jackson Dewberry,1012,1095,1005,1012,True,B,B
13,Jonah Altschuler,1012,1099,1006,1012,True,B,A
14,Sahil Qureshi,1012,1153,1006,1012,True,B,A
15,Eytan Goldhaber-Fiebert,1012,1079,1005,1016,True,A,A
16,Eli Sobel,1012,1065,1006,1016,True,A,B
17,Charlie Premo,1012,1053,1005,1020,True,B,B
18,Andrew Onodera,1012,1021,1006,1020,True,B,A
19,Ryan Spence,1012,1149,1005,1024,True,A,A
20,Spencer Toland,1012,1155,1006,1024,True,A,B
21,Khalil Qureshi,1012,1105,1005,1028,False,B,B
22,Ori Gillai,1012,1139,1005,1028,False,B,B
23,Tommy Sah,1012,1163,1005,1032,True,A,A
24,Carter Leban,1012,1045,1006,1032,True,A,B
25,Jack Bucich,1012,1093,1005,1036,False,B,B
26,Trey Calhoun,1012,1165,1005,1036,False,B,B
27,Cassie Hickinbotham,1012,1047,1005,1040,True,A,A
28,Ellie Katsav,1012,1069,1006,1040,True,A,B
29,Lizzy Moravick,1012,1113,1006,1040,True,A,B
30,Emily Jacquemin,1012,1073,1005,1044,True,B,B
31,Aylin Orens,1012,1035,1006,1044,True,B,A
32,Nishka Gollamudi,1012,1133,1006,1044,True,B,A
33,Anna Kolpakova,1012,1025,1005,1048,False,A,A
34,Aditi Rairkar,1012,1007,1006,1048,False,A,B
35,Amiya Garg,1012,1017,1006,1048,False,A,B
36,Tamara Rubinsky,1012,1157,1006,1048,False,A,B
37,Olivia Bocchieri,1012,1141,1005,1052,True,B,B
38,Lilley Stryker,1012,1111,1006,1052,True,B,A
39,Micaela Rubinsky,1012,1125,1006,1052,True,B,A
40,Parker McCabe,1012,1145,1005,1056,True,A,A
41,Einav Garten,1012,1063,1006,1056,True,A,B
42,Paige Leban,1012,1143,1005,1058,True,B,B
43,Yardenne Sternheim,1012,1173,1006,1058,True,B,A
44,Ellie Westagate,1012,1071,1005,1060,True,A,A
45,Sabrina Neal,1012,1151,1006,1060,True,A,B

In [100]:
df_eligible_staff_dirty = df_eligible_staff_patterns_and_exceptions

df_eligible_staff_only_exceptions = df_eligible_staff_dirty[~df_eligible_staff_dirty['pattern_exception']]

df_eligible_staff_without_exceptions = df_eligible_staff_dirty[df_eligible_staff_dirty['pattern_exception']]

In [101]:
# assign A/B for rows flagged as exceptions
df_exceptions = df_eligible_staff_only_exceptions.copy()

df_exceptions['exception_assignment'] = None

for gid, grp in df_exceptions.groupby('group_id'):
    idxs = grp.index.tolist()
    random.shuffle(idxs)
    n = len(idxs)
    # decide how many go to A (if odd, pick which side gets the extra at random)
    if n % 2 == 0:
        nA = n // 2
    else:
        nA = n // 2 + (1 if random.choice(['A', 'B']) == 'A' else 0)
    a_idxs = idxs[:nA]
    b_idxs = idxs[nA:]
    df_exceptions.loc[a_idxs, 'exception_assignment'] = 'A'
    df_exceptions.loc[b_idxs, 'exception_assignment'] = 'B'

# Update actual_assignment for exception rows
df_exceptions['actual_assignment'] = df_exceptions['exception_assignment']
df_exceptions.drop(columns=["exception_assignment"], inplace=True)

# Display df_exceptions to verify assignments
df_exceptions.head()

,staff_name,session_id,staff_id,role_id,group_id,pattern_exception,base_pattern,actual_assignment
21,Khalil Qureshi,1012,1105,1005,1028,False,B,B
22,Ori Gillai,1012,1139,1005,1028,False,B,A
25,Jack Bucich,1012,1093,1005,1036,False,B,A
26,Trey Calhoun,1012,1165,1005,1036,False,B,B
33,Anna Kolpakova,1012,1025,1005,1048,False,A,B

In [102]:
# Concatenate exceptions with non-exceptions
df_eligible_staff_combined = pd.concat([df_eligible_staff_without_exceptions, df_exceptions], ignore_index=False)

# Restore the original order from df_eligible_staff_dirty
df_eligible_staff_clean = df_eligible_staff_combined.loc[df_eligible_staff_dirty.index].copy()

# Display the result
df_eligible_staff_clean

,staff_name,session_id,staff_id,role_id,group_id,pattern_exception,base_pattern,actual_assignment
0,Matt Segal,1012,1115,1005,1000,True,B,B
1,Abraham Paley,1012,1001,1006,1000,True,B,A
2,Wes Calhoun,1012,1171,1006,1000,True,B,A
3,Avi Sanchez,1012,1033,1005,1004,True,A,A
4,Asher Darling,1012,1029,1006,1004,True,A,B
5,Elise Darling,1012,1067,1006,1004,True,A,B
6,Guy Robbins,1012,1087,1005,1006,True,B,B
7,Ethelle Bouvin,1012,1075,1006,1006,True,B,A
8,Ilan Gerber,1012,1091,1006,1006,True,B,A
9,Liam Gerber,1012,1107,1005,1008,True,A,A
10,Carlos Acosta,1012,1043,1006,1008,True,A,B
11,Jenna Bergendahl,1012,1097,1006,1008,True,A,B
12,Jackson Dewberry,1012,1095,1005,1012,True,B,B
13,Jonah Altschuler,1012,1099,1006,1012,True,B,A
14,Sahil Qureshi,1012,1153,1006,1012,True,B,A
15,Eytan Goldhaber-Fiebert,1012,1079,1005,1016,True,A,A
16,Eli Sobel,1012,1065,1006,1016,True,A,B
17,Charlie Premo,1012,1053,1005,1020,True,B,B
18,Andrew Onodera,1012,1021,1006,1020,True,B,A
19,Ryan Spence,1012,1149,1005,1024,True,A,A
20,Spencer Toland,1012,1155,1006,1024,True,A,B
21,Khalil Qureshi,1012,1105,1005,1028,False,B,B
22,Ori Gillai,1012,1139,1005,1028,False,B,A
23,Tommy Sah,1012,1163,1005,1032,True,A,A
24,Carter Leban,1012,1045,1006,1032,True,A,B
25,Jack Bucich,1012,1093,1005,1036,False,B,A
26,Trey Calhoun,1012,1165,1005,1036,False,B,B
27,Cassie Hickinbotham,1012,1047,1005,1040,True,A,A
28,Ellie Katsav,1012,1069,1006,1040,True,A,B
29,Lizzy Moravick,1012,1113,1006,1040,True,A,B
30,Emily Jacquemin,1012,1073,1005,1044,True,B,B
31,Aylin Orens,1012,1035,1006,1044,True,B,A
32,Nishka Gollamudi,1012,1133,1006,1044,True,B,A
33,Anna Kolpakova,1012,1025,1005,1048,False,A,B
34,Aditi Rairkar,1012,1007,1006,1048,False,A,B
35,Amiya Garg,1012,1017,1006,1048,False,A,A
36,Tamara Rubinsky,1012,1157,1006,1048,False,A,A
37,Olivia Bocchieri,1012,1141,1005,1052,True,B,B
38,Lilley Stryker,1012,1111,1006,1052,True,B,A
39,Micaela Rubinsky,1012,1125,1006,1052,True,B,A
40,Parker McCabe,1012,1145,1005,1056,True,A,A
41,Einav Garten,1012,1063,1006,1056,True,A,B
42,Paige Leban,1012,1143,1005,1058,True,B,B
43,Yardenne Sternheim,1012,1173,1006,1058,True,B,A
44,Ellie Westagate,1012,1071,1005,1060,True,A,A
45,Sabrina Neal,1012,1151,1006,1060,True,A,B

In [106]:
def balance_schedule_for_job(df_staff_clean, staff_ids_for_job, job_name):
    """
    Ensures that staff assigned to a job (arts & crafts or card trading) have opposite A/B schedules.
    If not, switches one staff member and flips their entire group accordingly.
    
    Parameters:
    - df_staff_clean: the clean staff dataframe
    - staff_ids_for_job: list of staff_ids assigned to this job
    - job_name: name of the job for logging purposes
    
    Returns:
    - Updated df_staff_clean with balanced schedules
    """
    if len(staff_ids_for_job) < 2:
        return df_staff_clean
    
    # Get the first 2 staff members for this job
    staff_subset = df_staff_clean[df_staff_clean['staff_id'].isin(staff_ids_for_job[:2])]
    
    if len(staff_subset) < 2:
        return df_staff_clean
    
    assignments = staff_subset['actual_assignment'].values
    
    # Check if they're on opposite schedules
    if assignments[0] != assignments[1]:
        print(f"{job_name}: Staff already on opposite schedules")
        return df_staff_clean
    
    # They're on the same schedule, need to switch one
    staff_to_switch = staff_subset.iloc[1]  # Switch the second staff member
    switch_staff_id = staff_to_switch['staff_id']
    switch_group_id = staff_to_switch['group_id']
    old_assignment = staff_to_switch['actual_assignment']
    new_assignment = 'B' if old_assignment == 'A' else 'A'
    
    print(f"{job_name}: Switching staff {switch_staff_id} from {old_assignment} to {new_assignment}")
    
    # Flip all staff in the same group
    group_mask = df_staff_clean['group_id'] == switch_group_id
    df_staff_clean.loc[group_mask, 'actual_assignment'] = df_staff_clean.loc[group_mask, 'actual_assignment'].apply(
        lambda x: 'B' if x == 'A' else 'A'
    )
    
    return df_staff_clean


def process_hardcoded_assignments(pattern_based_jobs, staff_game_days, tie_dye_days, tie_dye_staff, df_staff_clean, df_days, df_lunch_jobs):
    """
    Process hardcoded assignments and handle special cases.
    
    Parameters:
    - pattern_based_jobs: dict with job_id as key, list of staff_ids as value
      Example: {1001: [staff1, staff2], 1002: [staff3, staff4]}  # Arts & Crafts and Card Trading
    - staff_game_days: list of day names where staff game occurs (all staff assigned automatically)
      Example: ['monday', 'thursday']
    - tie_dye_days: list of day names when tie dye occurs
      Example: ['tuesday', 'wednesday']
    - tie_dye_staff: list of staff_ids assigned to tie dye (they work their normal A/B pattern days)
      Example: [staff1, staff2, staff3]  # These staff work tie dye on days matching their A/B schedule
    - df_staff_clean: cleaned staff dataframe
    - df_days: days dataframe
    - df_lunch_jobs: lunch jobs dataframe
    
    Returns:
    - df_hardcoded: dataframe of hardcoded assignments
    - df_staff_clean: updated staff dataframe with balanced schedules
    """
    # Create a copy to avoid modifying original
    df_staff_clean = df_staff_clean.copy()
    
    hardcoded_assignments = []
    
    # Process staff game days first - assign all staff to staff game
    if staff_game_days:
        for day in staff_game_days:
            for _, staff in df_staff_clean.iterrows():
                hardcoded_assignments.append({
                    'day_name': day,
                    'staff_id': staff['staff_id'],
                    'job_id': 1100,
                    'job_code': 'SG',
                    'job_name': 'Staff Game'
                })
    
    # Process pattern-based jobs (Arts & Crafts, Card Trading)
    # These staff work based on their A/B pattern assignment
    if pattern_based_jobs:
        # First, balance schedules for pattern-based jobs
        for job_id, staff_ids in pattern_based_jobs.items():
            if len(staff_ids) >= 2:
                job_info = df_lunch_jobs[df_lunch_jobs['job_id'] == job_id].iloc[0]
                df_staff_clean = balance_schedule_for_job(df_staff_clean, staff_ids, job_info['job_name'])
        
        # Now assign to days based on A/B pattern
        for job_id, staff_ids in pattern_based_jobs.items():
            job_info = df_lunch_jobs[df_lunch_jobs['job_id'] == job_id].iloc[0]
            
            for staff_id in staff_ids:
                staff_row = df_staff_clean[df_staff_clean['staff_id'] == staff_id].iloc[0]
                staff_pattern = staff_row['actual_assignment']  # 'A' or 'B'
                
                # Assign to days matching their pattern
                for day in df_days['day_name'].unique():
                    if staff_game_days and day in staff_game_days:
                        continue  # Skip staff game days
                    
                    # Get the day's pattern (assuming df_days has a 'pattern' column or derive from day order)
                    # Pattern A works: Mon, Wed; Pattern B works: Tue, Thu
                    day_pattern = 'A' if day.lower() in ['monday', 'wednesday'] else 'B'
                    
                    if staff_pattern == day_pattern:
                        hardcoded_assignments.append({
                            'day_name': day,
                            'staff_id': staff_id,
                            'job_id': job_id,
                            'job_code': job_info['job_code'],
                            'job_name': job_info['job_name']
                        })
    
    # Process tie dye assignments (staff work on their A/B pattern days only)
    if tie_dye_days and tie_dye_staff:
        tie_dye_job_id = 1045  # Tie Dye job ID
        tie_dye_job_info = df_lunch_jobs[df_lunch_jobs['job_id'] == tie_dye_job_id].iloc[0]
        
        # For each tie dye day, assign staff whose pattern matches that day
        for day in tie_dye_days:
            if staff_game_days and day in staff_game_days:
                continue  # Skip if it's a staff game day
            
            # Determine the pattern for this day
            day_pattern = 'A' if day.lower() in ['monday', 'wednesday'] else 'B'
            
            # Assign each staff member if they match the day's pattern
            for staff_id in tie_dye_staff:
                staff_row = df_staff_clean[df_staff_clean['staff_id'] == staff_id].iloc[0]
                staff_pattern = staff_row['actual_assignment']
                
                # Only assign if staff's pattern matches the day's pattern
                if staff_pattern == day_pattern:
                    hardcoded_assignments.append({
                        'day_name': day,
                        'staff_id': staff_id,
                        'job_id': tie_dye_job_id,
                        'job_code': tie_dye_job_info['job_code'],
                        'job_name': tie_dye_job_info['job_name']
                    })
    
    df_hardcoded = pd.DataFrame(hardcoded_assignments)
    
    return df_hardcoded, df_staff_clean

def assign_random_lunch_jobs(df_staff_clean, df_days, df_lunch_jobs, df_hardcoded):
    """
    Assign remaining staff to remaining jobs using normal_staff_assigned and priority-based overflow.
    
    Parameters:
    - df_staff_clean: cleaned staff dataframe with balanced schedules
    - df_days: days dataframe
    - df_lunch_jobs: lunch jobs dataframe (must have normal_staff_assigned, max_staff_assigned, priority columns)
    - df_hardcoded: hardcoded assignments dataframe
    
    Returns:
    - df_all_assignments: complete dataframe with all lunch job assignments
    """
    all_assignments = []
    
    # Get staff game days from hardcoded assignments
    staff_game_days = df_hardcoded[df_hardcoded['job_id'] == 1100]['day_name'].unique().tolist() if len(df_hardcoded) > 0 else []
    
    for day in df_days['day_name'].unique():
        print(f"\nProcessing {day}...")
        
        # If staff game day, all assignments already in hardcoded
        if day in staff_game_days:
            print(f"  {day} has staff game - all assignments already made")
            continue
        
        # Get hardcoded assignments for this day
        day_hardcoded = df_hardcoded[df_hardcoded['day_name'] == day] if len(df_hardcoded) > 0 else pd.DataFrame()
        
        # Get jobs and staff that are already assigned (hardcoded)
        assigned_job_ids = day_hardcoded['job_id'].tolist() if len(day_hardcoded) > 0 else []
        assigned_staff_ids = day_hardcoded['staff_id'].tolist() if len(day_hardcoded) > 0 else []
        
        # Exclude special jobs unless they're hardcoded
        # Job IDs to exclude: Staff Game (1100), Tie Dye (1045), Obstacle Course (1013), Tallying Scores (1041)
        excluded_job_ids = [1100, 1045, 1013, 1041]
        jobs_to_exclude = [jid for jid in excluded_job_ids if jid not in assigned_job_ids]
        
        # Get remaining jobs (exclude hardcoded jobs and special jobs)
        remaining_jobs = df_lunch_jobs[
            ~df_lunch_jobs['job_id'].isin(assigned_job_ids + jobs_to_exclude)
        ].copy()
        
        # Get remaining staff (exclude hardcoded staff)
        remaining_staff = df_staff_clean[~df_staff_clean['staff_id'].isin(assigned_staff_ids)].copy()
        
        # Determine which pattern works this day
        day_pattern = 'A' if day.lower() in ['monday', 'wednesday'] else 'B'
        
        # Filter staff for this day's pattern
        day_staff = remaining_staff[remaining_staff['actual_assignment'] == day_pattern].copy()
        
        # Shuffle staff randomly
        day_staff = day_staff.sample(frac=1).reset_index(drop=True)
        
        print(f"  {len(day_staff)} staff available (Pattern {day_pattern})")
        print(f"  {len(remaining_jobs)} jobs available")
        
        # Track assignments per job
        job_assignments = {job_id: 0 for job_id in remaining_jobs['job_id']}
        
        staff_idx = 0
        
        # Phase 1: Assign normal_staff_assigned for each job
        for _, job in remaining_jobs.iterrows():
            normal_staff = int(job['normal_staff_assigned']) if pd.notna(job['normal_staff_assigned']) else 1
            
            for _ in range(normal_staff):
                if staff_idx < len(day_staff):
                    staff = day_staff.iloc[staff_idx]
                    all_assignments.append({
                        'day_name': day,
                        'staff_id': staff['staff_id'],
                        'job_id': job['job_id'],
                        'job_code': job['job_code'],
                        'job_name': job['job_name'],
                        'assignment_type': 'normal'
                    })
                    job_assignments[job['job_id']] += 1
                    staff_idx += 1
        
        print(f"  After normal assignments: {staff_idx} staff assigned, {len(day_staff) - staff_idx} remaining")
        
        # Phase 2: If there are more staff, use priority-based overflow
        if staff_idx < len(day_staff):
            # Filter jobs that have priority values and can accept more staff
            overflow_jobs = remaining_jobs[
                pd.notna(remaining_jobs['priority']) & 
                pd.notna(remaining_jobs['max_staff_assigned'])
            ].copy()
            
            if len(overflow_jobs) > 0:
                # Sort by priority
                overflow_jobs = overflow_jobs.sort_values('priority').reset_index(drop=True)
                
                # Cycle through priorities until all staff are assigned
                while staff_idx < len(day_staff):
                    assigned_this_round = False
                    
                    for _, job in overflow_jobs.iterrows():
                        if staff_idx >= len(day_staff):
                            break
                        
                        current_count = job_assignments[job['job_id']]
                        max_staff = int(job['max_staff_assigned'])
                        
                        # Check if this job can accept more staff
                        if current_count < max_staff:
                            staff = day_staff.iloc[staff_idx]
                            all_assignments.append({
                                'day_name': day,
                                'staff_id': staff['staff_id'],
                                'job_id': job['job_id'],
                                'job_code': job['job_code'],
                                'job_name': job['job_name'],
                                'assignment_type': 'overflow'
                            })
                            job_assignments[job['job_id']] += 1
                            staff_idx += 1
                            assigned_this_round = True
                    
                    # If we couldn't assign anyone this round, all jobs are at max
                    if not assigned_this_round:
                        print(f"  Warning: {len(day_staff) - staff_idx} staff could not be assigned (all jobs at max)")
                        break
                
                print(f"  After overflow assignments: {staff_idx} total staff assigned")
            else:
                print(f"  Warning: No overflow jobs available. {len(day_staff) - staff_idx} staff unassigned")
        
        # Print summary
        print(f"  Final: {staff_idx}/{len(day_staff)} staff assigned to jobs")
    
    # Combine with hardcoded assignments
    df_all_assignments = pd.DataFrame(all_assignments)
    
    if len(df_hardcoded) > 0:
        df_hardcoded['assignment_type'] = 'hardcoded'
        df_all_assignments = pd.concat([df_hardcoded, df_all_assignments], ignore_index=True)
    
    return df_all_assignments

In [112]:
# Example usage:


# potentially exclude non eligible staff here

# Pattern-based jobs: staff work based on their A/B pattern (Mon/Wed = A, Tue/Thu = B)
# Format: {job_id: [staff_id1, staff_id2, ...]}
pattern_based_jobs = {
    # Example (uncomment and customize):
    1001: [1017, 1143],  # Arts & Crafts - staff assigned here work on their A or B days (amiya and paige)
    1009: [1079, 1021],  # Card Trading - staff assigned here work on their A or B days (eytan g and andrew o)
}

# Staff game days: list of day names (all staff will be assigned to staff game on these days)
# Format: ['day_name1', 'day_name2', ...]
staff_game_days = [
    # Example (uncomment and customize):
    # 'monday',  # All staff do staff game on Monday
    'thursday',  # All staff do staff game on Thursday
]

# Tie Dye days: list of days when tie dye occurs
tie_dye_days = [
    # Example (uncomment and customize):
    'tuesday',
    'wednesday',
]

# Tie Dye staff: list of staff assigned to tie dye
# They will work on days matching their A/B pattern (Mon/Wed = A, Tue/Thu = B)
tie_dye_staff = [
    # Example (uncomment and customize):
    # Matt S, Abraham P, Wes C, Avi S, Asher D, Elise D, Guy R, Ethelle B, Ilan G
    1115,
    1001,
    1171,
    1033,
    1029,
    1067,
    1087,
    1075,
    1091
]

# Step 4: Process hardcoded assignments and balance schedules
df_hardcoded_assignments, df_staff_balanced = process_hardcoded_assignments(
    pattern_based_jobs,
    staff_game_days,
    tie_dye_days,
    tie_dye_staff,
    df_eligible_staff_clean, 
    df_days, 
    df_lunch_job
)

print(f"Hardcoded assignments: {len(df_hardcoded_assignments)} records")
print("\nHardcoded assignments:")
display(df_hardcoded_assignments.head(20))

# Step 5-9: Assign remaining staff to remaining jobs
df_final_assignments = assign_random_lunch_jobs(
    df_staff_balanced,
    df_days,
    df_lunch_job,
    df_hardcoded_assignments
)

print(f"\n\nTotal assignments: {len(df_final_assignments)} records")

# Add staff details for readability
# Merge with staff_balanced to get staff_name, group_id, actual_assignment
df_final_assignments_enriched = df_final_assignments.merge(
    df_staff_balanced[['staff_id', 'staff_name', 'group_id', 'actual_assignment']],
    on='staff_id',
    how='left'
)

# Reorder columns for better readability
column_order = [
    'day_name', 
    'staff_id', 
    'staff_name',
    'actual_assignment', 
    'group_id', 
    'job_id', 
    'job_code', 
    'job_name', 
    'assignment_type'
]

# Only include columns that exist in the dataframe
column_order = [col for col in column_order if col in df_final_assignments_enriched.columns]
df_final_assignments_enriched = df_final_assignments_enriched[column_order]

# Create a day order mapping for proper sorting
day_order = {'monday': 1, 'tuesday': 2, 'wednesday': 3, 'thursday': 4}
df_final_assignments_enriched['day_sort'] = df_final_assignments_enriched['day_name'].str.lower().map(day_order)

# Sort by day order, then group, then staff name
df_final_assignments_enriched = df_final_assignments_enriched.sort_values(
    by=['day_sort', 'group_id', 'staff_name']
).reset_index(drop=True)

# Drop the helper column
df_final_assignments_enriched = df_final_assignments_enriched.drop(columns=['day_sort'])


# print and save the results

print("\nFinal assignments (with staff details):")
display(df_final_assignments_enriched)

df_final_assignments_enriched.to_csv(output_filename, index=False)
print(f"\n Assignments saved to: {output_filename}")

Arts and Crafts: Staff already on opposite schedules
Card Trading: Switching staff 1021 from A to B
Hardcoded assignments: 61 records

Hardcoded assignments:

    day_name  staff_id  job_id job_code    job_name
0   thursday      1115    1100       SG  Staff Game
1   thursday      1001    1100       SG  Staff Game
2   thursday      1171    1100       SG  Staff Game
3   thursday      1033    1100       SG  Staff Game
4   thursday      1029    1100       SG  Staff Game
5   thursday      1067    1100       SG  Staff Game
6   thursday      1087    1100       SG  Staff Game
7   thursday      1075    1100       SG  Staff Game
8   thursday      1091    1100       SG  Staff Game
9   thursday      1107    1100       SG  Staff Game
10  thursday      1043    1100       SG  Staff Game
11  thursday      1097    1100       SG  Staff Game
12  thursday      1095    1100       SG  Staff Game
13  thursday      1099    1100       SG  Staff Game
14  thursday      1153    1100       SG  Staff Game
15  thursday      1079    1100       SG  Staff Game
16  thursday      1065    1100       SG  Staff Game
17  thursday      1053    1100       SG  Staff Game
18  thursday      1021    1100       SG  Staff Game
19  thursday      1149    1100       SG  Staff Game

Processing monday...
  22 staff available (Pattern A)
  16 jobs available
  After normal assignments: 18 staff assigned, 4 remaining
  After overflow assignments: 22 total staff assigned
  Final: 22/22 staff assigned to jobs

Processing tuesday...
  16 staff available (Pattern B)
  16 jobs available
  After normal assignments: 16 staff assigned, 0 remaining
  Final: 16/16 staff assigned to jobs

Processing wednesday...
  17 staff available (Pattern A)
  16 jobs available
  After normal assignments: 17 staff assigned, 0 remaining
  Final: 17/17 staff assigned to jobs

Processing thursday...
  thursday has staff game - all assignments already made


Total assignments: 116 records

Final assignments (with staff details):

,day_name,staff_id,staff_name,actual_assignment,group_id,job_id,job_code,job_name,assignment_type
0,monday,1001,Abraham Paley,A,1000,1037,PP,"Ping Pong, Foosball",normal
1,monday,1171,Wes Calhoun,A,1000,1049,WB,Whiffle Ball (Large),normal
2,monday,1033,Avi Sanchez,A,1004,1021,MULTI,MULTI,normal
3,monday,1075,Ethelle Bouvin,A,1006,1081,SUB,Substitute,overflow
4,monday,1091,Ilan Gerber,A,1006,1017,GR1,Board Gameroom,normal
...,...,...,...,...,...,...,...,...,...
111,thursday,1145,Parker McCabe,A,1056,1100,SG,Staff Game,hardcoded
112,thursday,1143,Paige Leban,B,1058,1100,SG,Staff Game,hardcoded
113,thursday,1173,Yardenne Sternheim,A,1058,1100,SG,Staff Game,hardcoded
114,thursday,1071,Ellie Westagate,A,1060,1100,SG,Staff Game,hardcoded
115,thursday,1151,Sabrina Neal,B,1060,1100,SG,Staff Game,hardcoded

 Assignments saved to: lunch_job_assignments.csv